.header {
  padding: 60px;
  text-align: center;
  color: #006a7a;
  font-size: 30px;
  border: 2px solid #ffa8b6;
  background-color: thistle;
  opacity: 0.5;

  margin: auto;
  width: 50%;
  height: 250px;
  border-radius: 25px;
}
.signIn {
  background: url("https://images.pexels.com/photos/1376105/pexels-photo-1376105.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  margin: auto;
  border: 2px solid #ffa8b6;
  border-radius: 25px;
  width: 50%;
  height: 400px;
  opacity: 0.83;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.carousel {
  font-size: 24px;
  height: 500px;
  border: 5px solid black;
  padding: 2rem 1rem;
  min-height: 3em;
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E")
    1;
}

.searchBar {
  color: #006a7a;
  align-content: center;
  margin: auto;
  width: auto;
  text-align: center;
}

.input {
  margin: auto;
  position: absolute;
}

.userWelcome {
  align-content: center;
  text-align: center;
  color: aliceblue;
  margin: auto;
  border-radius: 25px;
  width: 50%;
  height: auto;
  opacity: 0.9;
  background-color: thistle;
  -webkit-box-shadow: 3px 3px 5px 6px thistle;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px thistle;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px thistle;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.card {
  width: 18rem;
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 4px;
  grid-auto-flow: column;
}

.contact-content {
  color: #006a7a;
  border: 2px solid #ffa8b6;
  background-color: thistle;
  opacity: 0.5;
  border-radius: 25px;
  height: 175px;
}

.contact-content a {
  color: aliceblue;
}

.navUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 2px solid #ffa8b6;
  background-color: thistle;
  opacity: 0.5;
  border-radius: 25px;
}

.navLI {
  float: left;
}

.navLI a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navLI a:hover {
  background-color: #006a7a;
  color: aliceblue;
}

.text {
  color: white;
  font-size: 19px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

header {
  margin-top: 60px;
  height: 80px;
}

.mainLanding {
  border-radius: 1px;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  width: 50%;
  border-radius: 25px;
  background: #ffa8b6;
  padding: 20px;
  width: 200px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.mainLanding a {
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
}

.column {
  float: left;
  width: 25%;
}
.left {
  text-align: left;
  float: left;
}
.right {
  float: right;
  text-align: right;
}
.centered {
  text-align: center;
}
.container {
  height: 600px;
  text-align: center;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
}
